[package]
name = "scancode-rust"
version = "0.0.4"
edition = "2024"
repository = "https://github.com/mstykow/scancode-rust"
description = "A Rust-based tool for scanning and analyzing code."
license = "Apache-2.0"
keywords = ["scancode", "license", "analysis", "rust"]
categories = ["command-line-utilities", "development-tools"]
readme = "README.md"
authors = ["Maxim Stykow", "Adrian Braemer"]

[dependencies]
# askalono
anyhow = "1.0.100"
flate2 = { version = "1.1.2", optional = true }
lazy_static = "1.5.0"
log = "0.4.29"
regex = "1.12.2"
rmp-serde = "1.3.1"
unicode-normalization = "0.1.8"
zstd = "0.13"

# own
chrono = "0.4.43"
clap = { version = "4.5.54", features = ["derive"] }
content_inspector = "0.2.4"
derive_builder = "0.20.2"
glob = "0.3.2"
include_dir = "0.7.4"
indicatif = "0.17.11"
md-5 = "0.10.6"
mime_guess = "2.0.5"
packageurl = "0.6.0"
rayon = "1.10.0"
rustc_version_runtime = "0.3.0"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
sha1 = "0.10.6"
sha2 = "0.10.9"
sys-info = "0.9.1"
toml = "0.8.12"
urlencoding = "2.1.3"

[target.'cfg(target_arch = "wasm32")'.dependencies]
flate2 = "1.1.2"

[dev-dependencies]
# askalono
env_logger = "0.11.8"

# own
tempfile = "3.20.0"

[profile.release]
# Enable link-time optimization for better cross-module optimizations
lto = true

# Enable whole-program optimization
codegen-units = 1

# Maximum optimization level
opt-level = 3

# Strip debug symbols to reduce binary size
strip = true

# The profile that 'dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"

[[bin]]
name = "scancode-rust"
path = "src/main.rs"

[features]
default = ["spdx"]
gzip = ["flate2"]
spdx = []
